
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}</title>
</head>
<body>
    Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}<br />
    Điện thoại: {{Phone}} <br />
    Email: {{Email}}<br />
    Địa chỉ: {{Address}}<br />
    Trị giá: {{Total}}<br />
</body>
</html>
