
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}</title>
</head>
<body>
    Thông tin đơn hàng mới từ khách hàng: {{CustomerName}}<br />
    Điện thoại: {{Phone}} <br />
    Email: {{Email}}<br />
    Địa chỉ: {{Address}}<br />
    Trị giá: {{Total}}<br />
    <h4>Chúng tôi sẽ sớm liên hệ với bạn để kiểm tra lại thông tin trước khi giao hàng.</h4>
    <h4>Mọi hỗ trợ xin liên hệ: 0356726671</h4>
</body>
</html>
