@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
/*dropdown menu*/
.navbar {
    overflow: hidden;
    background-color: #333;
}

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        font-size: 16px;
        font-weight: 600;
        border: none;
        outline: none;
        color: #1a1a1a;
        padding: 14px 16px;
        background-color: inherit;
        font-family: 'Spartan',sans-serif;
        margin: 0;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        color: #088178;
    } 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: #088178;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}
/*end*/

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

    #navbar li {
        list-style: none;
        padding: 0 20px;
        position: relative;
    }

        #navbar li a {
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
            color: #1a1a1a;
            transition: 0.3s ease;
        }

            #navbar li a:hover,
            #navbar li a.active {
                color: #088178;
            }

                #navbar li a.active::after,
                #navbar li a:hover::after {
                    content: "";
                    width: 30%;
                    height: 2px;
                    background: #088178;
                    position: absolute;
                    bottom: -4px;
                    left: 20px;
                }

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#hero {
    background-image: url("/Asset/Page/img/1248.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

    #hero h4 {
        padding-bottom: 15px;
    }

    #hero h1 {
        color: #088178;
    }

    #hero button {
        background-image: url("/Asset/Page/img/button.png");
        background-color: transparent;
        color: #088178;
        border: 0;
        padding: 14px 80px 14px 65px;
        background-repeat: no-repeat;
        font-weight: 700;
        font-size: 15px;
    }

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

    #feature .fe-box {
        width: 180px;
        text-align: center;
        padding: 25px 15px;
        box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
        border: 1px solid #cce7d0;
        border-radius: 4px;
        margin: 15px 0;
    }

        #feature .fe-box:hover {
            box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
        }

        #feature .fe-box img {
            width: 100%;
            margin-bottom: 10px;
        }

        #feature .fe-box h6 {
            display: inline-block;
            padding: 9px 8px 6px 8px;
            line-height: 1;
            border-radius: 4px;
            color: #088178;
            background-color: #fddde4;
        }

        #feature .fe-box:nth-child(2) h6 {
            background-color: #cdebbc;
        }

        #feature .fe-box:nth-child(3) h6 {
            background-color: #afe96c;
        }

        #feature .fe-box:nth-child(4) h6 {
            background-color: #e7e8f8;
        }

        #feature .fe-box:nth-child(5) h6 {
            background-color: #ebe9fa;
        }

        #feature .fe-box:nth-child(6) h6 {
            background-color: #ccd182;
        }

#product1 {
    text-align: center;
}

    #product1 .pro-container {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-wrap: wrap;
    }

    #product1 .pro {
        width: 23%;
        min-width: 250px;
        padding: 10px 12px;
        border: 1px solid #cce7d0;
        border-radius: 25px;
        cursor: pointer;
        box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
        margin: 15px 0;
        transition: 0.02s ease;
        position: relative;
    }

        #product1 .pro:hover {
            box-shadow: 20px 20px rgba(0,0,0,0.06);
        }

        #product1 .pro img {
            width: 100%;
            border-radius: 20px;
        }

        #product1 .pro .des {
            text-align: start;
            padding: 10px 0;
        }

            #product1 .pro .des span {
                color: #686863;
                font-size: 12px;
            }

            #product1 .pro .des h5 {
                padding-top: 7px;
                color: #1a1a1a;
                font-size: 14px;
            }

            #product1 .pro .des i {
                font-size: 12px;
                color: rgb(216, 161, 23);
            }

            #product1 .pro .des h4 {
                padding-top: 7px;
                font-size: 15px;
                font-weight: 700;
                color: #088178;
            }

        #product1 .pro .cart {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-radius: 50px;
            background-color: #e8f6ea;
            /* font-weight: 500; */
            color: #088178;
            border: 1px solid #cce7d0;
            position: absolute;
            bottom: 20px;
            right: 10px;
        }

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/Asset/Page/img/banner/b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

    #banner h4 {
        color: #fff;
        font-size: 16px;
    }

    #banner h2 {
        color: #fff;
        font-size: 30px;
        padding: 10px 0;
    }

        #banner h2 span {
            color: #ef3636;
        }

    #banner button:hover {
        background-color: #088178;
        color: #fff;
    }

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

    #sm-banner .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url(/Asset/Page/img/banner/banner_shose_bot.jpg);
        min-width: 580px;
        height: 50vh;
        background-size: cover;
        background-position: center;
        padding: 30px;
    }

    #sm-banner .banner-box2 {
        background-image: url(/Asset/Page/img/banner/banner_run_shoes.jpg);
    }

    #sm-banner h4 {
        color: #fff;
        font-size: 20px;
        font-weight: 300;
    }

    #sm-banner h2 {
        color: #fff;
        font-size: 28px;
        font-weight: 800;
    }

    #sm-banner span {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 15px;
    }

    #sm-banner .banner-box:hover button {
        background-color: #088178;
        border: 1px solid #088178;
    }

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

    #banner3 .banner-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-image: url(/Asset/Page/img/banner/Mini_Banner_Desktop_LEWA_collection_2.jpg);
        min-width: 30%;
        height: 30vh;
        background-size: cover;
        background-position: center;
        padding: 20px;
        margin-bottom: 20px;
    }

    #banner3 .banner-box2 {
        background-image: url(/Asset/Page/img/banner/banner_white.jpg);
    }

    #banner3 .banner-box3 {
        background-image: url(/Asset/Page/img/banner/banne_gray.jpg);
    }

    #banner3 h2 {
        color: #fff;
        font-size: 22px;
        font-weight: 900;
    }

    #banner3 h3 {
        color: #ec544e;
        font-weight: 800;
        font-size: 15px;
    }

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(/Asset/Page/img/banner/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

    #newsletter h4 {
        font-size: 22px;
        font-weight: 700;
        color: #fff;
    }

    #newsletter p {
        font-size: 14px;
        font-weight: 600;
        color: #818ea0;
    }

        #newsletter p span {
            color: #ffbd27;
        }

    #newsletter .form {
        display: flex;
        width: 40%;
    }

    #newsletter input {
        height: 3.125rem;
        padding: 0 1.25em;
        font-size: 14px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #newsletter button {
        background-color: #088178;
        color: #fff;
        white-space: nowrap;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    footer .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    footer .logo {
        margin-bottom: 30px;
    }

    footer h4 {
        font-size: 14px;
        padding-bottom: 20px;
    }

    footer p {
        font-size: 13px;
        margin: 0 0 8px 0;
    }

    footer a {
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
    }

    footer .follow {
        margin-top: 20px;
    }

        footer .follow i {
            color: #465b52;
            padding-right: 4px;
            cursor: pointer;
        }

    footer .install .row img {
        border: 1px solid #088178;
        border-radius: 6px;
    }

    footer .install img {
        margin: 10px 0 15px 0;
    }

    footer .follow i:hover,
    footer a:hover {
        color: #088178;
    }

    footer .coppyright {
        width: 100%;
        text-align: center;
    }

/* shop page */

#page-header {
    background-image: url("/Asset/Page/img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

    #page-header h2,
    #page-header p {
        color: #fff;
    }

#pagination {
    text-align: center;
}

    #pagination a {
        text-decoration: none; /* gach chan chu */
        background-color: #088178;
        padding: 15px 20px;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
    }

        #pagination a i {
            font-size: 16px;
            font-weight: 600;
        }
/* detail product */
#productdetail {
    display: flex;
    margin-top: 20px;
}

    #productdetail .single-pro-image {
        width: 40%;
        margin-right: 50px;
    }

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#productdetail .single-pro-detail {
    width: 50%;
    padding-top: 30px;
}

    #productdetail .single-pro-detail h4 {
        padding: 40px 0 20px 0;
    }

    #productdetail .single-pro-detail h2 {
        font-size: 26px;
    }

    #productdetail .single-pro-detail select {
        display: block;
        padding: 5px 10px;
        margin-bottom: 10px;
    }

    #productdetail .single-pro-detail input {
        width: 50px;
        height: 47px;
        padding-left: 10px;
        font-size: 16px;
        margin-right: 10px;
    }

        #productdetail .single-pro-detail input:focus {
            outline: none;
        }

    #productdetail .single-pro-detail button {
        background: #088178;
        color: #fff;
    }

    #productdetail .single-pro-detail span {
        line-height: 25px;
    }

#pagination .select {
    text-align: center;
    padding: 15px 20px;
    background-color: #e48fb9;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

    #pagination .select option {
        text-align: center;
        color: #fff;
    }

#pagination .search {
    display: flex;
    padding: 10px;
}
#pagination  form{
    width:100%;
    display:flex;
}

    #pagination .search  input{
        height: 3.125rem;
        padding: 0 1.25em;
        font-size: 14px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    #pagination .search button {
        background-color: #088178;
        color: #fff;
        white-space: nowrap;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
/* cart page */
#cart {
    overflow: auto;
}

    #cart table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
        white-space: nowrap;
    }

        #cart table img {
            width: 70px;
        }

        #cart table td:nth-child(1) {
            width: 100px;
            text-align: center;
        }

        #cart table td:nth-child(2) {
            width: 150px;
            text-align: center;
        }

        #cart table td:nth-child(3) {
            width: 250px;
            text-align: center;
        }

        #cart table td:nth-child(4),
        #cart table td:nth-child(5),
        #cart table td:nth-child(6) {
            width: 150px;
            text-align: center;
        }

            #cart table td:nth-child(5) input {
                width: 70px;
                padding: 10px 5px 10px 15px;
            }

        #cart table thead {
            border: 1px solid #e2e9e1;
            border-left: none;
            border-right: none;
        }

            #cart table thead td {
                font-weight: 700;
                text-transform: uppercase;
                font-size: 13px;
                padding: 18px 0;
            }

        #cart table tbody tr td {
            padding-top: 15px;
        }

        #cart table tbody td {
            font-size: 13px;
        }

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

    #coupon h3,
    #subtotal h3 {
        padding-bottom: 15px;
    }

    #coupon input {
        padding: 10px 20px;
        outline: none;
        width: 60%;
        margin-right: 10px;
        border: 1px solid #e2e9e1;
    }

    #coupon button,
    #subtotal button {
        background-color: #088178;
        color: #fff;
        padding: 12px 20px;
    }

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

    #subtotal table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

        #subtotal table td {
            width: 50%;
            border: 1px solid #e2e9e1;
            padding: 10px;
            font-size: 13px;
        }
/* check out */
#subtotal2 button {
    background-color: #088178;
    color: #fff;
    padding: 12px 20px;
}

#subtotal2 {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
    text-align: center;
}

    #subtotal2 table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
    }

        #subtotal2 table td {
            text-align: center;
            width: 50%;
            border: 1px solid #e2e9e1;
            padding: 10px;
            font-size: 13px;
        }

            #subtotal2 table td input {
                width: 100%;
                border: none;
            }

    #subtotal2 h3 {
        padding-bottom: 15px;
        text-align: center;
    }
/* end check out */
/* responsive menu */
@media(max-width:799px) {

    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

        #navbar.active {
            right: 0px;
        }

        #navbar li {
            margin-bottom: 25px;
        }

    #mobile {
        display: flex;
        align-items: center;
    }

        #mobile i {
            color: #1a1a1a;
            font-size: 24px;
            padding-left: 20px;
        }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #000;
        font-size: 24px;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

        #feature .fe-box {
            margin: 15px 15px;
        }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        width: 30%;
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #banner3 {
        padding: 0 40px;
    }

        #banner3 .banner-box {
            width: 20%;
        }

    #newsletter .form {
        width: 70%;
    }
}

@media (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

        #feature .fe-box {
            width: 155px;
            margin: 0 0 15px 0;
        }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

        #banner3 .banner-box {
            width: 100%;
        }

    #newsletter {
        padding: 40px 20px;
    }

        #newsletter .form {
            width: 100%;
        }

    footer .coppyright {
        text-align: start;
    }
    /* detail product */
    #productdetail {
        display: flex;
        flex-direction: column;
    }

        #productdetail .single-pro-image {
            width: 100%;
            margin-right: 0;
        }

        #productdetail .single-pro-detail {
            width: 100%;
        }
}
/*mes*/
.mes {
    width: 100%;
    align-items: center;
}

    .mes div {
        font-size: 16px;
        font-weight: 600;
        color: #088178;
        text-align: center;
        padding: 20px 20px;
    }
