
@{
    ViewBag.Title = "PaySuccess";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}


<section id="product1" class="section-p1">
    <h2>Cảm ơn bạn vì đã tin tưởng và lựa chọn chúng tôi.</h2>
    <p>Chúng tôi sẽ liên lạc với bạn sớm nhất, hãy chú ý tới phương thức liên lạc của bạn</p>
    <a href="@Url.Action("Index","Product")">
        <button class="normal">Trải nghiệm mua sắm tiếp thôi</button>
    </a>
</section>

@*<section id="cart" class="section-p1">
    <table width="100%">
        <tbody>s
            <tr>
                <td><i class="far fa-times-circle"></i></td>
                <td>chờ xác nhận</td>
                <td>đang giao</td>
                <td>đặt hàng lại</td>
            </tr>
        </tbody>
    </table>
</section>*@


